[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
ipdb = "*"
neovim = "*"
rope = "*"
mypy = "*"

[packages]
aiogram = "*"
aioredis = "*"
httpx = "*"
alembic = "*"
python-dotenv = "*"
gino = "*"
psycopg2-binary = "*"
uvloop = "*"
ujson = "*"
aiohttp = {extras = ["speedups"], version = "*"}
click = "*"
pillow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
