[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
ipdb = "*"

[packages]
aiogram = "*"
aioredis = "*"
httpx = "*"
alembic = "*"
python-dotenv = "*"
gino = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
